@font-face {
    font-family: 'minecraftiaregular';
    src: url('../fonts/minecraftia-webfont.eot');
    src: url('../fonts/minecraftia-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/minecraftia-webfont.woff') format('woff'),
         url('../fonts/minecraftia-webfont.ttf') format('truetype'),
         url('../fonts/minecraftia-webfont.svg#minecraftiaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

#slothtext h1{
	color: white;
}

html, body {
  text-align: center;
  font-family: 'minecraftiaregular', Helvetica;
  background: black;
}

#container {
  /*width: 100%;*/
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

h2 {
  color: white;
  text-align: left;
  margin-left: 45px;
/*  width: 70%;
*/
}

div.box, div.cell {
  display: inline-block;
  margin: 0;
}

/*form button {
  float: left;
}*/

/*.forms-container {
  position: absolute;
  top: 33%;
  left: 44%;
}*/

button {
  outline: none;
  width: 126px;
  height: 34px;
  background-color: transparent;
  border: 0;
  padding: 1px;
}

.sudoku-img {
  position: absolute;
  top: 25px;
  left: 25px;

}

.kanji {
  position: absolute;
  top: 68px;
  left: 25px;
  width: 180px;
  height:178px;
}

.easy {
  position: absolute;
  top: 255px;
  left: 25px;

}

.medium {
  position: absolute;
  top: 297px;
  left: 25px;

}

.hard {
  position: absolute;
  top: 339;
  left: 25px;

}

.check {
  position: absolute;
  top: 74%;
  left: 25px;

}

.answer {
  position: absolute;
  top: 81%;
  left: 25px;
}

.help {
  position: absolute;
  top: 4%;
  left: 695px;
}

.reset {
  position: absolute;
  top: 11%;
  left: 695px;
}

.load {
  position: absolute;
  top: 74%;
  left: 695px;
}

.save {
  position: absolute;
  top: 81%;
  left: 695px;
}

button img {
  width: 180px;
  height: 36px;
}

.cell input {
  width: 45px;
  height: 45px;
  background: #ffe5a1;
  font-family: 'minecraftiaregular', Helvetica;
  text-align: center;
  font-size:  14;

}

#sudoku {
  background: url('../background.png') no-repeat center;
  width: 900px;
  height: 600px;
  text-align: center;
	font-size:  0;
/*  position: relative;
*/
}

.box {
/*  margin: 0 auto;
*/  border: 4px;
    border-top-color: #f7e26a; 
    border-left-color: #f7e26a; 
    border-bottom-color: #c79a36;
    border-right-color: #c79a36;
/*  outline: 1px solid black;*/
    border-style: ridge;


}

.incorrect {
	background-color: #FF000D !important;
  color: white;
}

#flash {
  color: white;
}
